<div class="animal-info">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3 rx">
      <img src="../../assets/logo4.png" alt="Zebra">
    </div>
    <div class="col-md-3">
      <h3>{{(animalToDisplay | async)?.name}} the {{(animalToDisplay | async)?.species}}</h3>
      <ul class="animal-details-ul">
        <li>Name: {{(animalToDisplay | async)?.name}}</li>
        <li>Species: {{(animalToDisplay | async)?.species}}</li>
        <li>Age: {{(animalToDisplay | async)?.age}}</li>
        <li>Diet: {{(animalToDisplay | async)?.diet}}</li>
        <li>Caretaker: {{(animalToDisplay | async)?.caretaker}}</li>
        <li>Sex: {{(animalToDisplay | async)?.sex}}</li>
        <li>Likes: {{(animalToDisplay | async)?.likes}}</li>
        <li>Dislikes: {{(animalToDisplay | async)?.dislikes}}</li>
      </ul>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!-- <ul class="animal-list-ul">
  <li>Species: {{animal.species}}</li>
  <li>Name: {{animal.name}}</li>
  <li>Age: {{animal.age}}</li>
  <li>Diet: {{animal.diet}}</li>
  <li>Caretaker: {{animal.caretaker}}</li>
  <li>Sex: {{animal.sex}}</li>
  <li>Likes: {{animal.likes}}</li>
  <li>Dislikes: {{animal.dislikes}}</li>
</ul> -->
