<!-- <div *ngFor="let animal of animals | async" (click)="goToDetailPage(animal)" class="panel panel-default">
  <div class="panel-body">
    <h3>{{animal.name}} the {{animal.species}}</h3>
  </div>
</div> -->

<div *ngFor="let animal of animals | async" (click)="goToDetailPage(animal)" class="animal-detail">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="animal-detail-box">
        <h2>{{animal.name}} the {{animal.species}}</h2>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
