.main-nav { list-style-type: none; padding-left: 0px; margin-top: 12px; }
.main-nav li { display: inline; font-size: 18px; }
.main-nav a { color: #e6e7e8; padding-right: 25px; text-decoration: none; font-family: 'Raleway', sans-serif; font-weight: 900;}
.main-nav a:hover { color: #fb6361; }
.header-pane { background-color: #444444; color: #fff; }
.header-pane h1 { margin-top: 13px; margin-bottom: 16px; }
.header-nav { list-style-type: none; margin-top: 24px; padding-left: 0px;}
.header-nav li { display: inline; font-size: 15px; }
.header-nav a { padding-right: 32px; cursor: pointer; color: #e6e7e8; font-family: 'Raleway', sans-serif; text-decoration: none; }
.header-nav a:hover { color: #fb6361; }
.main-nav-pane { height: 50px; }
.gi-cloud { top: 10px; color: #fb6361; }
.gi-cloud-footer { color: #fb6361; font-size: 62px; }
.footer h4 a { color: #fb6361; margin-top: 10px; }
.footer ul { list-style-type: none; padding-left: 0px; }
.footer a:hover { text-decoration: none; }
.footer li a { color: #fff; }
.footer-nav { margin-top: 16px; margin-bottom: 20px; margin-left: 0px; margin-right: 0px; }
.footer-note { text-align: center; color: #fff; }
.social-links li { display: inline; padding-right: 10px; }
.fa-linkedin, .fa-github, .fa-rss { color: #262626; }
.content-container { padding-left: 0px; padding-right: 0px; }
.header-logo-a { color: #fff; text-decoration: none; }
/*.header-logo-a:hover { text-decoration: none; }*/
